SECRET_KEY="replace_me"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60
TOKEN_EXPIRATION_MINUTES=2
SERVER_SECRET="replace_me"
ENVIRONMENT="development"
DEBUG=True
DATABASE_URL=postgresql+psycopg2://user:pass@localhost:5432/db

SYSTEM_OPERATOR_USERNAME="biometric_gateway"
SYSTEM_OPERATOR_PASSWORD="hashed_password_placeholder"
DEFAULT_ADMIN_USERNAME="admin"
DEFAULT_ADMIN_PASSWORD="123"