SECRET_KEY="replace_me"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60
TOKEN_EXPIRATION_MINUTES=2
SERVER_SECRET="replace_me"
ENVIRONMENT="development"
DEBUG=True
DATABASE_URL=postgresql+psycopg2://user:pass@localhost:5432/db

SYSTEM_OPERATOR_ID = 1  # usado para totens, apps do usuário final, WebAuth, etc
