# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.temp
env/
temp/
ENV/
env.bak/
temp.bak/

# FastAPI
*.db
*.sqlite3

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Test coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# Jupyter Notebook
.ipynb_checkpoints

# Docker
*.pid
*.pid.lock

# Build
build/
dist/
*.egg-info/
.eggs/

# Other
*.bak
*.swp
*.swo